
body {
    background: linear-gradient(90deg, #35a435, #1e5631);
}

#gameTotal{
    text-align: center;
}

#gameCanvas{
    border: 3px solid #2e7d32;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

#scoreText {
    font-family: "sans-serif", cursive;
    font-size: 100px;
    text-shadow: 2px 2px #363535;
}
#resetBtn{
    background-color: #4caf50;
    font-family: "sans-serif" , cursive;
    font-size: 25px;
    width: 70px;
    height: 30px;
    border: 3px solid;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

#resetBtn:hover{
    background-color: #388e3c;
    transform: scale(1.1);
}
